# ---------- Python ----------
__pycache__/
*.pyc
*.pyo
*.pyd

# ---------- Virtual Environment ----------
venv/
.env/

# ---------- IDE / Editor ----------
.vscode/
.idea/

# ---------- OS Files ----------
Thumbs.db

# ---------- Logs ----------
*.log

# ---------- Test / Cache ----------
.pytest_cache/


data/resumes/
